header {
    height: 110px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: auto 30px;
}

.title-page {
    font-weight: 700;
}

.header-logo-name {
    color: #280a5f;
    font-size: 33px;
    font-weight: 500;
    letter-spacing: -.065em;
    line-height: 85.5%;
    margin-left: 10px;
}

.card-text {
    padding: 25px;
    text-align: center;
}

.scrolling-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrolling-list::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.scrolling-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #747ffe;
}