header {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.card-text {
    padding: 25px;
    text-align: center;
}